In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("updated_dataset.csv")
df.head()

,distance,surge_multiplier,price,Black,Black SUV,Lux,Lux Black,Lux Black XL,Lyft,Lyft XL,Shared,UberPool,UberX,UberXL,WAV,Lyft.1,Uber
0,0.44,1.0,5.0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
1,0.44,1.0,11.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
2,0.44,1.0,7.0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
3,0.44,1.0,26.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4,0.44,1.0,9.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0

In [13]:
from sklearn.preprocessing import PolynomialFeatures

selected_columns = ['surge_multiplier', 'distance']

degree = 2

poly_features = PolynomialFeatures(degree=degree)

poly_transform = poly_features.fit_transform(df[selected_columns])

poly_df = pd.DataFrame(poly_transform, columns=poly_features.get_feature_names_out(selected_columns))

df_poly = pd.concat([df.drop(columns=selected_columns), poly_df], axis=1)

df_poly

,price,Black,Black SUV,Lux,Lux Black,Lux Black XL,Lyft,Lyft XL,Shared,UberPool,...,UberXL,WAV,Lyft.1,Uber,1,surge_multiplier,distance,surge_multiplier^2,surge_multiplier distance,distance^2
0,5.0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
1,11.0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
2,7.0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
3,26.0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
4,9.0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632382,9.5,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632383,13.0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632384,9.5,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632385,27.0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632386,10.0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000

In [14]:
df_poly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632387 entries, 0 to 632386
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   price                      632387 non-null  float64
 1   Black                      632387 non-null  int64
 2   Black SUV                  632387 non-null  int64
 3   Lux                        632387 non-null  int64
 4   Lux Black                  632387 non-null  int64
 5   Lux Black XL               632387 non-null  int64
 6   Lyft                       632387 non-null  int64
 7   Lyft XL                    632387 non-null  int64
 8   Shared                     632387 non-null  int64
 9   UberPool                   632387 non-null  int64
 10  UberX                      632387 non-null  int64
 11  UberXL                     632387 non-null  int64
 12  WAV                        632387 non-null  int64
 13  Lyft.1                     632387 non-null  int64
 14  Uber                       632387 non-null  int64
 15  1                          632387 non-null  float64
 16  surge_multiplier           632387 non-null  float64
 17  distance                   632387 non-null  float64
 18  surge_multiplier^2         632387 non-null  float64
 19  surge_multiplier distance  632387 non-null  float64
 20  distance^2                 632387 non-null  float64
dtypes: float64(7), int64(14)
memory usage: 101.3 MB

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [16]:
x = df_poly.drop('price',axis=1)
y = df_poly['price']
print(x.shape,y.shape)

(632387, 20) (632387,)

In [17]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42015)
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(505909, 20) (505909,) (126478, 20) (126478,)

In [18]:
model.fit(xtrain,ytrain)
ypred = model.predict(xtest)

In [19]:
from sklearn.metrics import r2_score,mean_absolute_percentage_error
score = r2_score(ytest,ypred)
print(score)

0.9351134619663504

In [20]:
mape = mean_absolute_percentage_error(ytest,ypred)
mape

0.12903555168354527

In [21]:
y_train_pred = model.predict(xtrain)
r2_score(ytrain,y_train_pred)

0.9344314441617781

R2 Score = 0.9351
MAPE = 12.90%

### Polyomial Features upto 10 Degree

In [22]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
def poly(degree):
    
    selected_columns = ['surge_multiplier','distance']

    
    

    
    poly_features = PolynomialFeatures(degree=degree)

    
    poly_transform = poly_features.fit_transform(df[selected_columns])

    
    poly_df = pd.DataFrame(poly_transform, columns=poly_features.get_feature_names(selected_columns))

    
    df_poly = pd.concat([df.drop(columns=selected_columns), poly_df], axis=1)


    model = LinearRegression()

    x = df_poly.drop('price',axis=1)
    y = df_poly['price']
    xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42015)

    model.fit(xtrain,ytrain)
    ypred = model.predict(xtest)

    from sklearn.metrics import r2_score,mean_absolute_percentage_error
    score = r2_score(ytest,ypred)
    mape = mean_absolute_percentage_error(ytest,ypred)

    return score,mape

In [25]:
for i in range(1, 10):
    print(f"Degree: {i}")
    try:
        score, mape = poly(i)
        print(f"R2 Score: {score:.4f}, MAPE: {mape:.4f}")
    except Exception as e:
        print(f"Error at degree {i}: {e}")
    print("-" * 30)

Degree: 1
Error at degree 1: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 2

Error at degree 2: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 3
Error at degree 3: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 4
Error at degree 4: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 5
Error at degree 5: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 6
Error at degree 6: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 7
Error at degree 7: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 8
Error at degree 8: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------
Degree: 9
Error at degree 9: 'PolynomialFeatures' object has no attribute 'get_feature_names'
------------------------------